*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}
.root{
    --orange: #e77c18;
    --winning-blocks:#2f2626;
}
.Btns{
    display: flex;
    flex-wrap: wrap;
    /* font-family:'Finger Paint',cursive;  */
    gap: 10px;
}
button:hover
{
    transform: scale(1.1);
}
#newgameBtn
{
    padding: 10px;
   border-radius: 1rem;
    font-family:'Finger Paint',cursive;
    border: none;
    box-shadow: 0 2px 2px 2px  rgb(11, 1, 22);
    background-color:rgb(175, 52, 233);
   
}
body{
    color: var(orange);
    font-family:'Finger Paint',cursive;
    background-color: aquamarine;
}
h1{
    font-size:54px;
    text-transform: uppercase;
}
h1:hover{
    transform: scale(1.1);
}
.box.Color
{
    color:black;
    /* background-color: #0ce4cf; */
     /* animation: shine 1.5s linear infinite; */
}
.container{
    padding: 54px;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background: color #192a20;
    text-align: center;
     font-family:'Finger Paint',cursive;
}
#restartBtn
{
   /* margin:10px; */
   padding: 10px;
   font-family:'Finger Paint',cursive;
   border-radius: 1rem;
   border:none;
   box-shadow: 0 2px 2px 2px  rgb(70, 66, 1);
   background-color:rgb(176, 167, 9);
    
}
#gameboard{
 width:450px; 
    display: grid;
     grid-template-columns: repeat(3,auto);
    width:225px;
    margin:auto;

} 
.box
{
    width: 75px;
    height: 75px;
    border: 5px solid #241003;
    border-style: 'Finger Paint',cursive;
    /* box-shadow: 0 0 1rem rgba(0,0 0,0.4); */
    line-height: 72px;
    font-size: 50px;
    color: #b0413e;
    cursor: pointer;
    border-style: ridge;
    
}
.box.disabled
{
    cursor: none;
    pointer-events: none;
    /* opacity: 0.5; */
}
.box:nth-child(1)
{
    border-top:none;
}
.box:nth-child(2)
{
    border-top:none;
}
.box:nth-child(3)
{
    border-top:none;
}
.box:nth-child(3),
.box:nth-child(6),
.box:nth-child(9)
{
    border-right:none;
}
.box:nth-child(1),
.box:nth-child(4),
.box:nth-child(7)
{
    border-left: none;
}
.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9)
{
    border-bottom: none;
}